* {
    box-sizing: border-box;
  }

  body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    margin: 0;
    }

.wrapper{
    max-width: 1200px;
    margin: auto;
    padding: 0px 30px;
  }

  img {
    max-width: 100%
  }
  
  header, footer {
    text-align: center;
  }
  
  header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
header ul{
    list-style: none;
      }
      
  header ul li{
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
  }

    header ul a{
    color: black;
    text-decoration: none;
    padding: 0px 10px;
    }

    header div img{
        padding: 20px 0px;
      }

      #product-images .wrapper div{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "img1 img1 img1"
        "img2 img3 img4";
        gap: 20px
      }
      
      #product-images img{
        border-radius: 25px;

      }

      #product-images img:nth-child(1){
        grid-area: img1;
        max-width: 100%;
      }
      #product-images img:nth-child(2){
        grid-area: img2;
        max-width: 100%;
      }
      #product-images img:nth-child(3){
        grid-area: img3;
        max-width: 100%;
      }
      #product-images img:nth-child(4){
        grid-area: img4;
        max-width: 100%;
      }
      
    #product-desc article p:nth-child(1){
        font-weight: bold;
        margin: 0em;
        text-transform: uppercase;
    }

    #product-desc article p:nth-child(2){
        margin: 0em;
    }

   h1{
        font-size: 2.027rem;
    }

    h2{
        font-size: 1.802rem;
    }

    h3{
        font-size: 1.266rem;
    }

    #product-desc article p:nth-child(5){
        padding-bottom: 10px;
    }

   #product-desc a:link, #product-desc a:visited {
        text-decoration: none;
        background-color: #000;
        color: #fff;
        text-decoration: none;
        border: 2px solid #000;
        padding: 10px 20px;
        font-weight: bold;
        border-radius: 10px;
      }
      
      #product-desc a:hover, #product-desc
      a:focus {
        background-color: #fff;
        color: #000;
      }

  #behind-dough{
    margin-top: 40px;
    background-color: #f8fafc;
    padding: 20px 0px;
  }

  #behind-dough h2{
   text-align: center;
  }

  #quotes h2{
    text-align: center;
   }

   #quotes{
    background-color: #000;
    padding: 20px 0px;
    color: #fff;
  }

  #quotes article{
    margin: 50px 0px;

  }

  #bottom-products #flavour-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "pro1 pro2"
    "pro3 pro4";
    gap: 20px
  }
  
  #bottom-products img{
    border-radius: 25px 25px 0px 0px;
  }

  #bottom-products .flavour:nth-child(1){
    grid-area: pro1;
    max-width: 100%;
  }
  #bottom-products .flavour:nth-child(2){
    grid-area: pro2;
    max-width: 100%;
  }
  #bottom-products .flavour:nth-child(3){
    grid-area: pro3;
    max-width: 100%;
  }
  #bottom-products .flavour:nth-child(4){
    grid-area: pro4;
    max-width: 100%;
  }

  .flavour{
    text-align: center;
    background-color: #f8fafc;
    border-radius: 25px;
  }

  footer{
    color: #fff;
    background-color: #000;
    padding: 15px 0px;
  }